@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 95px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    direction: ltr;
    color: #333;
}

section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 1 rem;
}

header {
    width: 100%;
    max-width: 1920px;
    height: 90px;
    margin: 0 auto;
    padding: 1 rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.profile {
    display: flex;
    align-items: center;
}

.profile1-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
    border: 1px solid #ddd;
}

.profile-name {
    font-weight: 400;
    margin-left: 1rem;
    color: #333;
    font-size: 1.2rem;
}

.navbar-links {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;

}

nav {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

nav a {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0.8rem;
    color: #2C2C2C;
}

nav a:hover {
    color: #1AE0EC;
    transform: scale(1.1);
    transition: 0.3s;
}


input[type="checkbox"] {
    display: none;
}

.home {
    width: 100%;
    max-width: 1920px;
    height: 450px;
    background-image: url(style-image/header_flags.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(85%) contrast(80%);
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.home h1 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    color: rgb(32, 32, 32);
}

.home h2 {
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
    color: rgb(31, 31, 31);
}

.logobox {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 8vw;
    max-width: 90px;
    height: auto;
    object-fit: contain;

}

.about {
    width: 100%;
    max-width: 1920px;
    display: grid;
    place-items: center;
    text-align: center;
    color: #3A3A3A;
    margin: 3rem auto;
}

.profile2-img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

.about h2 {
    font-weight: 500;
    font-size: 2.5rem;
}

.about p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 2rem;
}

.about button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 300;
    color: #2C2C2C;
    background-color: #1AE0EC;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 1rem auto;
}

.about button:hover {
    transform: scale(1.1);
    background-color: #39c6ce;
}

.linkedin-logo a {
    text-decoration: none;
}

.linkedin-logo img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.linkedin-logo img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.gallery {
    width: 100%;
    max-width: 1920px;
    height: auto;
    color: #3A3A3A;
    background-color: #F6F6F6;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
}

.gallery h2 {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.projects {
    max-width: 1300px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.project {
    width: 350px;
    height: 550px;
    display: grid;
    place-items: center;
    background-color: #fff;
    border: #ddd 1px solid;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.project:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top:-1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.project h4 {
    font-weight: 300;
    font-size: 2rem;
    margin: 1rem 0;
}

.project p {
    font-weight: 300;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    line-height: 1.5;
    color: #555;
}

.project button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 300;
    color: #2C2C2C;
    background-color: #1AE0EC;
    border: none;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.2s;
    cursor: pointer;
}

.contact {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #3A3A3A;
    padding: 3rem;
}

.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 1rem;
    background-color: #FFFFFF;
    color: #3A3A3A;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.form h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #3A3A3A;
    text-align: center;
}

.form label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    align-self: flex-start;
}

.form input,
.form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #3A3A3A;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.form button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #3A3A3A;
    background-color: #1AE0EC;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.form button:hover {
    background-color: #39c6ce;
}

.contact-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact-img img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-icons {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.icon i {
    font-size: 1.7rem;
    color: #FFFFFF;
}

.icon i:hover {
    transform: scale(1.3);
    color: #1AE0EC;
}

.icon p {
    font-size: 1rem;
    color: #FFFFFF;
    margin: 0;
}

footer {
    width: 100%;
    max-width: 1920px;
    text-align: center;
    background-color: #3A3A3A;
    color: #FFFFFF;
    padding: 1rem 0;
}